.dashbox {
  width: 75%;
  background-color: #f6f6f6;
  margin: 25px auto;
  padding: 0;
  border-radius: 1em;

  .dash-title {
    color: #f6f6f6;
    font-weight: 500;
    background-color: #0b5282;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    height: 30px;
    border-radius: 1em 1em 0 0;
    &.calories {
      background-color: #0b5282;
    }
    &.water {
      background-color: rgb(7, 86, 100);
    }
    &.workout-time {
      background-color: rgb(47, 18, 207);
    }
    @media (max-width: 580px) {
      font-size: 0.7rem;
    }
    .status {
      &.Pending {
        color: rgb(255, 183, 49);
      }
      &.Achieved {
        color: rgb(127, 236, 127);
        font-weight: bold;
      }
    }
  }
  .dashcontent-box {
    p {
      display: flex;
      font-weight: bold;
    }
    .dash-data {
      display: flex;
      align-items: center;
      padding-left: 16px;
      .dash-value {
        font-size: 2.4rem;
        font-weight: bolder;
        color: #43e286;
        margin-right: 20px;
        height: 60px;
        @media (max-width: 580px) {
          margin-top: 25px;
          font-size: 1.2rem;
        }
      }
      .entry-btn {
        text-decoration: none;
        display: inline-block;
        .button-container {
          height: 40px !important;
          align-items: center;
          background-color: #43e286;
          min-width: 35px !important;
          width: 125px !important;
          font-size: 12px;
          &:hover {
            background-image: linear-gradient(
              45deg,
              hsl(120deg 100% 100%) 0%,
              hsl(131deg 70% 82%) 50%,
              hsl(145deg 73% 57%) 100%
            );
          }
        }
      }
    }
    .dash-goal {
      color: #666666;
      b {
        font-size: 1.5rem;
      }
    }
  }
}
