.signInPage {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(
    125deg,
    hsl(156deg 43% 91%) 0%,
    hsl(159deg 46% 91%) 8%,
    hsl(162deg 49% 91%) 15%,
    hsl(164deg 52% 91%) 23%,
    hsl(158deg 52% 90%) 31%,
    hsl(148deg 50% 88%) 38%,
    hsl(134deg 45% 87%) 46%,
    hsl(116deg 42% 87%) 54%,
    hsl(100deg 44% 87%) 62%,
    hsl(86deg 45% 88%) 69%,
    hsl(73deg 42% 87%) 77%,
    hsl(56deg 34% 83%) 85%,
    hsl(45deg 35% 80%) 92%,
    hsl(36deg 34% 78%) 100%
  );
  .forpassword {
    color: #444;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      scale: 1.1;
    }
  }
  .button-container {
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    text-transform: uppercase;
    font-weight: 600;
    margin: auto;
    cursor: pointer;
    transition: 0.5s;
  }
}
.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  z-index: 2;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  padding: 0 0.4rem;
  position: relative;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
  width: 100%;
  border-radius: 55px;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.signInPage:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(
    130deg,
    hsl(28deg 76% 92%) 0%,
    hsl(28deg 87% 89%) 11%,
    hsl(28deg 93% 87%) 22%,
    hsl(28deg 97% 85%) 33%,
    hsl(28deg 99% 82%) 44%,
    hsl(28deg 100% 80%) 56%,
    hsl(29deg 100% 77%) 67%,
    hsl(29deg 100% 75%) 78%,
    hsl(29deg 100% 72%) 89%,
    hsl(29deg 100% 70%) 100%
  );
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.panel .content {
  color: #444;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
  font-weight: bold;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.right-panel .image,
.right-panel .content {
  transform: translateX(800px);
}

/* ANIMATION */

.signInPage.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.signInPage.sign-up-mode .left-panel .image,
.signInPage.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.signInPage.sign-up-mode .signin-signup {
  left: 25%;
}

.signInPage.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}

.signInPage.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.signInPage.sign-up-mode .right-panel .image,
.signInPage.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.signInPage.sign-up-mode .left-panel {
  pointer-events: none;
}

.signInPage.sign-up-mode .right-panel {
  pointer-events: all;
}

@media (max-width: 870px) {
  .signInPage {
    min-height: 800px;
    height: 100vh;
  }
  .signin-signup {
    width: 100%;
    top: 85%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin-signup,
  .signInPage.sign-up-mode .signin-signup {
    left: 50%;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .signInPage:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .signInPage.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .signInPage.sign-up-mode .left-panel .image,
  .signInPage.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .signInPage.sign-up-mode .right-panel .image,
  .signInPage.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }

  .right-panel .image,
  .right-panel .content {
    transform: translateY(300px);
  }

  .signInPage.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }

  .image {
    display: none;
  }
  .panel .content {
    padding: 0.5rem 1rem;
  }
  .signInPage {
    padding: 1.5rem;
  }

  .signInPage:before {
    bottom: 72%;
    left: 50%;
  }

  .signInPage.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}
