.landing_page-main {
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100vh;

  .content {
    position: absolute;
    top: 250px;
    padding-left: 10rem;
    @media (max-width: 1500px) {
      padding-left: 5em;
    }

    .description {
      .mainDesc {
        font-size: 2rem;
        font-weight: bold;
        margin: 1rem 0rem;
        line-height: 2;
      }

      .addDesc {
        font-size: 1.25rem;
        margin-bottom: 3rem;
      }
    }

    .slider {
      display: flex;
      align-items: center;
      justify-content: center;
      .rotational_slider-main {
        position: absolute;
        right: -18.5%;
        top: 10%;

        @media (max-width: 1500px) {
          right: -30%;
        }
      }
    }
  }
}

// breakpoints

// breakpoint 1
@media (max-width: 992px) {
  .landing_page-main {
    z-index: 0;
    .topbar {
      background-color: #cae9d1;
    }
    .content {
      padding-left: 0;
      .slider {
        position: relative;
        top: -350px;
        right: 0px;
        margin: auto;
        padding: auto !important;

        text-align: center;
        z-index: -1;
        .rotational_slider-main {
          position: initial;
          right: 0%;
          top: 0%;
        }
      }

      .description {
        position: relative;
        padding: 0rem 1.5rem !important;
        margin: 0rem 1.25rem !important ;
        top: 105px;
        width: 100%;

        div {
          font-size: 1.35rem !important;
          margin-bottom: 1rem !important;
        }
        p {
          font-size: 1rem !important;
        }
      }
    }
  }
}

// breakpoint 2
@media (max-width: 480px) {
  .landing_page-main {
    .topbar {
      background-color: #cae9d1;
    }
    .content {
      .slider {
        top: -250px;
        right: 0px;
        margin: auto;
        padding: auto !important;
        text-align: center;
      }

      .description {
        padding: 0rem 0.5rem !important;
        margin: 0rem 0.5rem !important ;
        top: 50px;

        div {
          font-size: 1.25rem !important;
          line-height: 1.5;
        }
        p {
          font-size: 1rem !important;
          margin-bottom: 1rem;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .landing_page-main {
    .content {
      .description {
        top: 10px;

        div {
          font-size: 1rem !important;
          line-height: 1.25;
        }
        p {
          font-size: 0.85rem !important;
        }
      }
    }
  }
}
