.landing_page-main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(
    135deg,
    hsl(77deg 45% 88%) 0%,
    hsl(85deg 44% 89%) 7%,
    hsl(95deg 43% 89%) 14%,
    hsl(107deg 42% 90%) 21%,
    hsl(119deg 40% 91%) 29%,
    hsl(130deg 40% 90%) 36%,
    hsl(139deg 41% 89%) 43%,
    hsl(146deg 41% 88%) 50%,
    hsl(140deg 43% 87%) 57%,
    hsl(134deg 44% 87%) 64%,
    hsl(130deg 46% 86%) 71%,
    hsl(119deg 38% 86%) 79%,
    hsl(97deg 29% 85%) 86%,
    hsl(65deg 21% 83%) 93%,
    hsl(34deg 30% 84%) 100%
  );

  .content {
    position: relative;
    top: 75px;
    height: auto;

    .description {
      position: absolute;
      top: 150px;
      width: 50%;
      div {
        font-size: 2rem;
        font-weight: bold;
        margin: 1rem 0rem;
        line-height: 2;
      }

      p {
        font-size: 1.25rem;
        margin-bottom: 3rem;
      }
    }

    .slider {
      position: relative;
      right: -92%;
      top: 155px;
    }
  }
}

// breakpoints

// breakpoint 1
@media (max-width: 992px) {
  .landing_page-main {
    z-index: 0;
    .topbar {
      background-color: #cae9d1;
    }
    .content {
      .slider {
        position: relative;
        top: -250px;
        right: 0px;
        margin: auto;
        padding: auto !important;
        text-align: center;
        z-index: -1;
      }

      .description {
        position: relative;
        padding: 0rem 1.5rem !important;
        margin: 0rem 1.25rem !important ;
        top: 105px;
        width: 100%;

        div {
          font-size: 1.35rem !important;
          margin-bottom: 1rem !important;
        }
        p {
          font-size: 1rem !important;
        }
      }
    }
  }
}

// breakpoint 2
@media (max-width: 480px) {
  .landing_page-main {
    .topbar {
      background-color: #cae9d1;
    }
    .content {
      .slider {
        top: -250px;
        right: 0px;
        margin: auto;
        padding: auto !important;
        text-align: center;
      }

      .description {
        padding: 0rem 0.5rem !important;
        margin: 0rem 0.5rem !important ;
        top: 50px;

        div {
          font-size: 1.25rem !important;
          line-height: 1.5;
        }
        p {
          font-size: 1rem !important;
          margin-bottom: 1rem;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .landing_page-main {
    .content {
      .description {
        top: 10px;

        div {
          font-size: 1rem !important;
          line-height: 1.25;
        }
        p {
          font-size: 0.85rem !important;
        }
      }
    }
  }
}
